* {
    box-sizing: border-box;
    padding: 0;

}

body {
    background-color: white;
}

p {
    font-size: 18px;
    color: rgb(53, 94, 197);
}
/* navigation section */

.header {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2px;
    Padding-bottom: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(57, 53, 53);
}

.header h1 {
    padding: 20px 20px 20px 0;
    width: 200px;
    background-color: rgb(103, 225, 170);
    color: rgb(57, 53, 53);
}

.nav {
    flex-shrink: 1;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

.nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

.nav a {
    color: rgb(103, 225, 170);
    font-size: 30px;
    text-decoration: underline;
}

/* Background Image with profile picture and quote */

.hero {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/books-background.avif");
    background-size: cover;
    background-position: center;
}

.hero img {
    position: relative;
    border: solid black;
    width: 200px;
    height: 190px;
    top: 4px;
    left: 6px;
    bottom: 4px;
}

.hero p {
    flex-shrink: 1;
    color: white;
    font-weight: bold;
    font-size: 32px;
    position: relative;
    left: 870px;
    top: 120px;
}


/* Main section: About Me */
.about-me {
    display: flex inline;
    flex-wrap: wrap;
    color: rgb(53, 94, 197);
}

.about-me h1 {
    display: inline;
    padding: 20px 30px 20px 200px;
    font-size: 32px;
    float: left;
}

.about-me h1 p{
    display: inline;
    border-left: solid rgb(53, 94, 197);
    font-size: 18px;
    float: right;
}

/* Main section: Work */

.work {
    display: flex inline;
    flex-wrap: wrap;
    color: rgb(53, 94, 197);
}

.work h1 {
    display: inline;
    border-right: solid rgb(53, 94, 197);
    padding: 20px 20px 20px 200px;
    font-size: 32px;
    float: left;
}

/* Main section: Contact Me*/


/* style & format classes */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}