* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --dark: #344e41;
    --light: #dad7cd;
    --white: white;
    --black: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
}

p {
    margin: 0;
    font-size: 20px;
    color: var(--dark);
}
/* navigation section */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--dark);
}

.header h1 {
    width: 200px;
    padding: 0 20px 0 0;
    background-color: var(--light);
    color: var(--dark);
    text-align: right;
}

.nav {
    margin-right: 20px;
}

.nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

.nav a {
    color: var(--light);
    font-size: 22px;
    text-decoration: underline;
}

/* emphasize links by increasing font size slightly */

.nav a:hover {
    font-size: 24px;
}

/* Background Image with profile picture and quote */

.hero {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/music-background.avif");
    background-size: cover;
    background-position: center;
}

.hero img {
    position: absolute;
    top: 14%;
    left: 1%;
    border: solid var(--black);
    box-shadow: 10px 10px 5px #040404;
    border-radius: 8px;
    width: 150px;
    height: 140px;
    bottom: 25px;
}

.hero p {
    position: absolute;
    left: 60%;
    bottom: 10%;
    color: var(--white);
    font-weight: bold;
    font-size: 32px;
}


/* consolidate code for main sections (about me, work, and contact me) */
.section-main {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    height: 100%;
    color: var(--dark);
}

/* consolidate code for the title sections on the left side of index.html */
.section-title {
    display: flex;
    justify-content: end;
    align-items: top;
    width: 25%;
    height: 100%;
    padding: 0 10px 0 100px;
    font-size: 32px;
}

/* consolidate code for body sections */
.section-body{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 30px;
    width: 65%;
    height: 100%;
    font-size: 18px;
    border-left: solid var(--dark);
}

/* work section: */

.section-body header {
    width: 100%;
    padding: 0 0 0 20px;
    background-color: var(--dark);
    font-size: 21px;
    color: var(--white);
    text-align: left;
}

.project {
    padding: 10px;
    margin: 10px;
    height: 200px;
    text-align: center;
    border: solid var(--dark);
    border-width: 1px;
    background-size: cover;
    background-position: center; 
    filter: brightness(70%);
}
/* work section: project images */
#project-1 {
    flex: 1 0 90%;
    height: 400px;
    background-image: url("../images/computer-1.avif");
}

#project-2 {
    flex: 1 0 35%;
    background-image: url("../images/computer-2.avif");
}

#project-3 {
    flex: 1 0 35%;
    background-image: url("../images/computer-3.avif");
}

#project-4 {
    flex: 1 0 35%;
    background-image: url("../images/computer-4.avif");
}

#project-5 {
    flex: 1 0 35%;
    background-image: url("../images/computer-5.avif");
}

.project:hover {
    border: solid  var(--light);
    filter: brightness(100%);
    transition: filter 0.25s ease;
}

/* contact me section: format for text*/

#section-body-contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 65%;
    border-left: solid var(--dark);
}

#section-body ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

#section-body a {
    color: var(--dark);
    font-size: 22px;
    text-decoration: underline;
}

/* media query */

@media screen and (max-width:480px) {
    .header,
    .nav,
    .section-main,
    .section-title,
    .section-body,
    #section-body-contact-me { 
        flex-direction: column;
    }
} 

@media screen and (max-width:480px) {
    .header h1 {
        width: 100%;
        background-color: var(--light);
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    .section-title {
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    .section-title {
        display: flex;
        width: 100%;
        margin: 0 0 10px 0;
        text-align: left;
        border-bottom: solid  var(--dark);
    }
}

@media screen and (max-width:480px) {
    .section-body,
    #section-body-contact-me {
        width: 100%;
        margin: 20px 0;
        border-left: none;
    }
}