* {
    box-sizing: border-box;
    padding: 0;

}

body {
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
}

p {
    font-size: 18px;
    color: #344e41;
}
/* navigation section */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #344e41;
}

.header h1 {
    width: 200px;
    padding: 0 20px 0 0;
    background-color: #dad7cd;
    color: #344e41;
}

.nav {
    flex-shrink: 1;
    margin-right: 20px;
    
}

.nav ul li {
    list-style-type: none;
    display: inline;
    margin-left: 25px;
}

.nav a {
    color: white;
    font-size: 30px;
    text-decoration: underline;
}

/* Background Image with profile picture and quote */

.hero {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/books-background.avif");
    background-size: cover;
    background-position: center;
}

.hero img {
    position: absolute;
    border: solid black;
    box-shadow: 10px 10px 5px #040404;
    border-radius: 8px;
    width: 150px;
    height: 140px;
    top: 25px;
    left: 8px;
    bottom: 25px;
}

.hero p {
    position: absolute;
    flex-shrink: 1, 0, auto;
    color: white;
    font-weight: bold;
    font-size: 32px;
    left: 990px;
    top: 120px;
}

/* Main section: About Me */
.about-me {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    height: auto;
    color: #344e41;
}

#about-me-title {
    display: flex;
    justify-content: end;
    align-items: top;
    width: 25%;
    height: 150px;
    padding: 0 10px 0 100px;
    font-size: 32px;
    border-right: solid #344e41;
    box-sizing: border-box;
}

#about-me-body{
    display: flex;
    align-items: top;
    padding: 0 0 0 30px;
    width: 75%;
    height: 150px;
    font-size: 18px;
}

/* Main section: Work */
.work {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    height: auto;
    color: #344e41;
    
}

#work-title {
    display: flex;
    justify-content: end;
    align-items: top;
    width: 25%;
    height: 200px;
    padding: 0 10px 0 100px;
    font-size: 32px;
    border-right: solid #344e41;
    box-sizing: border-box;
}

.work-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
}

#project-1 {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#project-2 {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#project-3 {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#project-4 {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

#project-5 {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

/* Main section: Contact Me*/


/* style & format classes */
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

/* media query */

@media screen and (max-width:1200px) {
    #about-me #about-me-title{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    #about-me #about-me-title{
        width: 90%;
    }
}
